body {
    background-color: #727374;
    font-family: 'Texturina', serif;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%; 
    max-width: 1200px; 
}

.containerReg {
    background-color: white;
    border-radius: 5px;
    width: 600px;
    height: 380px;
    padding: 25px;
    box-sizing: border-box;
}

.title {
    text-align: center;
    margin-bottom: 20px;
}

.put input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    
}

.logo {
    text-align: center;
}

img {
    width: 404px;
    height: auto;
}

.button {
    display: flex;
    justify-content: center;
    gap: 15px; 
    width: 100%; 
}

.send input,
.register input {
    padding: 10px 20px; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    background-color: #727374;
    color: white;
    height: auto;
    width: 20px;
}