body {
    background-color: #727374;
    font-family: 'Texturina', serif;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerPrincipal {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Garante espaço entre os elementos */
    width: 100%;
    height: 100vh; /* O container principal ocupa toda a altura da tela */
    box-sizing: border-box;
}

.image {
    flex: 1; /* A imagem ocupa o lado esquerdo */
    display: flex;
    justify-content: flex-start; /* Alinha a imagem à esquerda */
    padding: 20px;
}

.image img {
    width: 550px; 
    height: 550px;
    margin-left: 40px;
}

.container {
    flex: 1; 
    background-color: #575a5e;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centraliza verticalmente */
    align-items: center; /* Centraliza horizontalmente */
    padding: 20px; 
    height: 100%; 
    color: white; 
}

.container a {
    text-decoration: none;
    color: white;
}

.box {
    background-color: #727374;
    display: flex;
    justify-content: center;
    align-items: center; /* Centraliza o texto dentro da caixa */
    border-radius: 5px;
    padding: 10px 20px; /* Adiciona um pouco de espaço interno */
    margin: 10px 0; /* Espaçamento entre os botões */
    width: 200px; /* Define uma largura fixa */
    text-align: center;
}
