body {
    background-color: #727374;
    font-family: 'Texturina', serif;
}

.navbar {
    background-color: #575A5E;
    border-radius: 5px;
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
}

.icon {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center; 
}

.logo {
    display: flex;
    justify-content: flex-start;
    margin-left: 60px;
    cursor: pointer;
}

.logo img {
    width: 80px;
    height: 80px;
    display: block;
}

.search {
    display: flex;
    justify-content: center;
    height: 35px;
    margin-left: 20px; 
    border-radius: 5px;
    flex: 1; 
}

.search input {
    width: 134px;
    height: 15px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.right-icons {
    list-style-type: none;
    display: flex;
    align-items: center;
}

.right-icons li {
    margin-left: 20px;
}

.box {
    background-color: white;
    border-radius: 5px;
    font-size: larger;
    width: 370px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
}

.mainContainer {
    display: flex;
    justify-content: center;
    align-items: flex-start; 
    gap: 90px;
    margin-top: 30px;
}

.container {
    background-color: white;
    display: flex;
    border-radius: 5px;
    width: 300px;
    height: 450px;
    margin: 0; 
}

.containerWrapper {
    display: flex;
    align-items: flex-start;
}

.descrition {
    background-color: white;
    border-radius: 5px;
    width: 510px;
    height: 445px;
    display: flex;
    align-items: center;
    padding: 10px;
}

.inpust {
    text-align: center; /* Centraliza os elementos horizontalmente */
    margin-top: 20px; /* Espaço acima do formulário */
}

.campo {
    display: inline-block; /* Alinha os pares lado a lado */
    margin: 10px 15px; /* Ajusta o espaçamento ao redor dos pares */
    text-align: left; /* Alinha o texto à esquerda dentro do bloco */
}

.campo p {
    display: block; /* Garante que o texto fique separado do input */
    margin: 0; /* Remove margens adicionais */
}

.campo input {
    width: 200px; /* Define um tamanho fixo para os inputs */
    padding: 5px; /* Adiciona espaço interno */
    border: 1px solid #ccc; /* Estiliza a borda */
    border-radius: 4px; /* Bordas arredondadas */
}
