body {
    background-color: #727374;
    font-family: 'Texturina', serif;
}

.navbar {
    background-color: #575A5E;
    border-radius: 5px;
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
}

.icon {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center; 
}

.logo {
    display: flex;
    justify-content: flex-start;
    margin-left: 60px;
    cursor: pointer;
}

.logo img {
    width: 80px;
    height: 80px;
    display: block;
}

.search {
    display: flex;
    justify-content: center;
    height: 35px;
    margin-left: 20px; 
    border-radius: 5px;
    flex: 1; 
}

.search input {
    width: 134px;
    height: 15px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.right-icons {
    list-style-type: none;
    display: flex;
    align-items: center;
}

.right-icons li {
    margin-left: 20px;
}

.box {
    background-color: white;
    border-radius: 5px;
    font-size: larger;
    width: 390px;
    height: 95px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
}

.container {
    background-color: white;
    display: flex;
    border-radius: 5px;
    width: 300px;
    height: 450px;
    margin-top: 120px;
    margin-left: 120px;
}

/* .container img {
    width: 272px;
    height: 402px;
} */

.descrition {
    background-color: white;
    border-radius: 5px;
    width: 622px;
    height: 488px;
    display: flex;
    /* margin-bottom: 20px; */
    align-items: center;
    padding: 10px;
}

.containerWrapper {
    display: flex;
    justify-content: center;
    align-items: first baseline;
    margin-bottom: 20px;
    /* padding: 10px; */
}

.descrition {
    
}